name: "tagged-release"

on:
  push:
    tags:
      - "*.*"

jobs:
  on-main-branch-check:
    runs-on: ubuntu-latest
    outputs:
      on_main: ${{ steps.contains_tag.outputs.retval }}
    steps:
      # Step added as a workaround for https://github.com/rickstaa/action-contains-tag/pull/18
      # TODO: bump version of action-contains-tag and remove this workaround step after PR above is merged
      - name: Workaround regression action-contains-tag due to git update
        run: git config --global remote.origin.followRemoteHEAD never
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
        with:
          fetch-depth: 0
      - uses: rickstaa/action-contains-tag@a9ff27d505ba2bf074a2ebb48b208e76d35ff308 # v1.2.10
        id: contains_tag
        with:
          reference: "main"
          tag: "${{ github.ref }}"
  tagged-release:
    name: "Tagged Release"
    runs-on: "ubuntu-latest"
    needs: on-main-branch-check
    if: ${{ needs.on-main-branch-check.outputs.on_main == 'true' }}
    steps:

      # --- from gradle.yml ---
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
      - name: Set up JDK
        uses: actions/setup-java@be666c2fcd27ec809703dec50e508c2fdc7f6654 # v5
        with:
          java-version: "17"
          distribution: "temurin"
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@f29f5a9d7b09a7c6b29859002d29d24e1674c884 # v5
      - name: Build with Gradle
        run: ./gradlew build assembleRelease
      - name: Create APK
        uses: filippoLeporati93/android-release-signer@25247783c9a02e66bf0a2ccefd9860d21563c16b # v1
        id: create_apk
        with:
          releaseDirectory: app/build/outputs/apk/release
          signingKeyBase64: ${{ secrets.SIGNING_KEY }}
          alias: ${{ secrets.ALIAS }}
          keyStorePassword: ${{ secrets.KEY_STORE_PASSWORD }}
          keyPassword: ${{ secrets.KEY_PASSWORD }}
        env:
          BUILD_TOOLS_VERSION: "35.0.1"
      - name: Rename release APK
        run: mv ${{ steps.create_apk.outputs.signedReleaseFile }} DisabledLauncher.apk
      # --- from gradle.yml ---

      - uses: "marvinpinto/action-automatic-releases@919008cf3f741b179569b7a6fb4d8860689ab7f0" # v1.2.1
        with:
          repo_token: "${{ secrets.GITHUB_TOKEN }}"
          prerelease: true
          files: |
            DisabledLauncher.apk
